body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

button {
  color: white;
  border: unset;
  background-color: #5a9ad5;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;

  &:focus {
    outline: unset;
  }
}
